<section id="about-us" class="about-us">
    <div class="container">
        <div class="subtitle-container">
            <h2 class="about-us-title">Про Меблерію</h2>
            <p class="about-us-text">
                У Меблерії ми прагнемо створювати затишок та функціональність у кожному
                домі. Наша місія — пропонувати високоякісні меблі, що поєднують у собі
                сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
                інтер’єр починається з правильних меблів.
            </p>
        </div>

        <div class="about-us-img-container">
            <picture>
                <source media="(min-width: 1440px)" srcset="
            /img/about-us-1x.webp 1x,
            /img/about-us-2x.webp 2x
          " />
                <source media="(min-width: 768px)" srcset="
            /img/about-us-1x_tablet.webp 1x,
            /img/about-us-2x_tablet.webp 2x
          " />
                <source media="(max-width: 767px)" srcset="
            /img/about-us-1x-mobile.webp 1x,
            /img/about-us-2x-mobile.webp 2x
          " />
                <img src="/img/about-us-1x-mobile.webp" alt="Команда Меблерії" loading="lazy" />
            </picture>
        </div>
    </div>
</section>