<section class="reviews section" id="feedback">
  <div class="container">
    <div class="reviews__header">
      <h2 class="reviews__title">Відгуки клієнтів</h2>
      <p class="reviews__description">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
    </div>

    <div class="reviews__swiper-wrapper">
      <div class="swiper reviews__container">
        <ul class="swiper-wrapper reviews__list js-review" role="list"></ul>
      </div>

      <div class="reviews__nav">
        <button class="reviews__btn reviews__btn--prev" type="button" aria-label="Попередній">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>

        <button class="reviews__btn reviews__btn--next" type="button" aria-label="Наступний">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="reviews__pagination swiper-pagination"></div>
  </div>
</section>