<header class="header">
  <div class="container header-wrapper">
    <a href="./index.html" class="logo-header">
      <svg class="logo-header-icon" width="158" height="35">
        <use href="./img/icons.svg#icon-logo-black"></use>
      </svg>
    </a>

    <button type="button" class="close-btn-tablet">
      <svg class="close-btn-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <button type="button" class="burger-btn">
      <svg class="burger-btn-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="overlay">
      <nav class="header-nav">
        <div class="menu-top-wrapper container">
          <a href="./index.html" class="logo-header">
            <svg class="logo-header-icon" width="163" height="35">
              <use href="./img/icons.svg#icon-logo-black"></use>
            </svg>
          </a>

          <button type="button" class="close-btn">
            <svg class="close-btn-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-cross"></use>
            </svg>
          </button>
        </div>

        <ul class="nav-links-list">
          <li class="header-nav-item">
            <a href="#furniture-list-section" class="header-nav-link"
              >Наші меблі</a
            >
          </li>
          <li class="header-nav-item">
            <a href="#about-us" class="header-nav-link">Про нас</a>
          </li>
          <li class="header-nav-item">
            <a href="#faq-section" class="header-nav-link">Часті питання</a>
          </li>
          <li class="header-nav-item">
            <a href="#feedback" class="header-nav-link">Відгуки</a>
          </li>
          <li class="button">
            <a href="#furniture-list-section" class="nav-button">До покупок</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
