<section class="popular-products section" id="popular-products-section">
    <div class="container">
        <div class="popular-products__header">
            <h2 class="popular-products__title">Популярні товари</h2>
        </div>

        <div class="popular-products-swiper">
            <div class="swiper popular-products__container">
                <ul class="swiper-wrapper popular-products__list"></ul>
            </div>

            <div class="popular-products__nav">
            <button class="popular-products__btn popular-products__btn--prev" type="button" disabled>
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-left-arrow-alt"></use>
                </svg>
            </button>

            <button class="popular-products__btn popular-products__btn--next" type="button">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-right-arrow-alt"></use>
                </svg>
            </button>
            </div>
        </div>

        <div class="popular-products__pagination"></div>
    </div>
</section>