<div class="prod-modal-overlay is-clos">
<div class="prod-modal-window">
    <button class="close-modal-btn">
    <svg class="close-icon">
        <use href="./img/icons.svg#icon-cross" width="14px" height="14px"></use>
    </svg>
</button>
<div class="image-cont">
<img src="./img/sofaImg.jpg" alt="Big Sofa">
<img src="./img/sofaImg2.jpg" alt="Sofa in Room">
<img src="./img/sofaImg3.jpg" alt="Sofa in Rorner">
</div>
<div class="prod-info">
<h2 class="prod-name">Софа Oslo</h2>
<h3 class="prod-category">Дивани</h3>
<h3 class="prod-price">9 999 грн</h3>
<div class="stars">
    <svg class="icon">
        <use href="./img/icons.svg#icon-star-fill" width="16" height="15"></use>
    </svg>
    <svg class="icon">
        <use href="./img/icons.svg#icon-star-fill" width="16" height="15"></use>
    </svg>
    <svg class="icon">
        <use href="./img/icons.svg#icon-star-fill" width="16" height="15"></use>
    </svg>
    <svg class="icon">
        <use href="./img/icons.svg#icon-star-fill" width="16" height="15"></use>
    </svg>
    <svg class="icon">
        <use href="./img/icons.svg#icon-star-half" width="16" height="15"></use>
    </svg>
</div>
<h3 class="color-title">Колір</h3>
<div class="color-btns">
<input class="color-btn gray" type="radio" name="product-color" value="#c7c3bb" checked >
<input class="color-btn white" type="radio" name="product-color" value="#fff">
<input class="color-btn black" type="radio" name="product-color" value="#201a19">
</div>
<h3 class="prod-descr">Класичний диван з м'якими подушками та високою спинкою, ідеальний для сімейного відпочинку. Оббивка з якісної
зносостійкої тканини.</h3>
<h3 class="prod-size">Розміри: 280x180x85</h3>
<button type="submit" class="modal-sub-btn">Перейти до замовлення</button>
</div>

</div>
</div>