.about-us {
    background-color: #f0e6e6;
    padding-bottom: 64px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-us-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.about-us-text {
    width: 335px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .about-us {
        padding-bottom: 32px;
        padding-top: 32px;
    }

    .about-us-text {
        width: 704px;
    }

    .about-us-title {
        font-size: 36px;
    }
}

@media (min-width: 1440px) { 
    .about-us {
        padding-bottom: 64px;
        padding-top: 64px;
        
    }

    .about-us .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    .about-us-text {
        width: 644px; 
        margin: 24px 0 0;       
    }
}