* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  background-color: #fff;
}

.button {
  display: block;
  text-align: center;
  border: 1px solid #6b0609;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  border-radius: 100px;
  padding: 10px 24px;
  height: 46px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #fff;
}

.button:hover
/* .button:focus  */ {
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  opacity: 0.5;
}
