* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;;
    background-color: #fff;;
}

.button {
    display: block;
    text-align: center;
    border: 1px solid #6b0609;
    background-color: #6b0609;
    border-radius: 100px;
    padding: 10px 24px;
    height: 46px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #fff;
}

.button:hover,
.button:focus {
    background-color: transparent;
    border: 1px solid #6b0609;
    opacity: 0.5;
}