.review {
  padding: 0;
  display: flex;
  align-items: stretch;
}

.reviews .container {
  padding: 64px 20px;
}

.reviews__swiper-wrapper {
  position: relative;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.swiper-pagination,
.nav-wrap {
  pointer-events: all;
}

.reviews__pagination {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
}

.reviews__pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}

.reviews__pagination .swiper-pagination-bullet-active {
  background: #080c09;
  opacity: 1;
}

.reviews__nav {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  gap: 12px;
  z-index: 10;
}

.reviews__btn {
  background: #f2f2f2;
  border: 1px solid #080c09;
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reviews__btn:hover {
  background-color: #975052;
}

.reviews__btn svg use {
  fill: #080c09;
  transition: fill 0.3s;
}

.reviews__btn:hover svg use,
.reviews__btn:active svg use {
  fill: #fff;
}

.reviews__btn:active {
  background-color: #6b0609;
}

.reviews__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.swiper-wrapper {
  margin-right: 0;
  padding-right: 0;
}

.reviews__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #080c09;
}

.reviews__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #080c09;
  margin-top: 24px;
  margin-bottom: 80px;
}

.text-review {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin-top: 24px;
  flex-grow: 1;
  justify-content: flex-end;
  height: 128px;
}

.review-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-top: 24px;
  display: flex;
}

.review-stars {
  display: flex;
  gap: 4px;
  margin-top: 24px;
}

.review-stars .star-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .review {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews .container {
    padding: 64px;
  }

  .reviews-swiper {
    padding-bottom: 120px;
  }

  .swiper-wrapper {
    margin-right: 0;
    padding-right: 0;
  }

  .text-review {
    width: 373px;
  }
}
