.hero {
  background-image: url(../img/hero-mob.webp);
  background-size: cover;
  padding-top: 136px;
  padding-bottom: 136px;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: url(../img/hero-mob@2x.webp);
    background-size: cover;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #fff;
  width: 335px;
  height: 96px;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 32px;
  width: 335px;
  height: auto;
}

.hero-button {
  max-width: 335px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero-tab.webp);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url(../img/hero-tab@2x.webp);
      background-size: cover;
    }
  }

  .hero-title {
    width: 560px;
    height: 48px;
  }

  .hero-description {
    width: 560px;
    height: 87px;
  }

  .hero-button {
    width: 209px;
  }

  .hero-button:focus {
    opacity: 0.5;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero-desk.webp);
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 92px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url(../img/hero-desk@2x.webp);
      background-size: cover;
    }
  }

  .hero-title {
    font-size: 56px;
    width: 560px;
    height: 134px;
  }

  .hero-description {
    width: 560px;
    height: 87px;
  }
}

@media only screen and (max-width: 374px) {
  .hero-description {
    width: 100%;
  }

  .hero-title {
    max-width: 335px;
    width: 100%;
    height: auto;
  }
}
