.popular-products-swiper {
  align-items: center;
  position: relative;
}

.popular-products__btn {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;
}

.popular-products__btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.popular-products__container {
  overflow: hidden;
}

.popular-products__list {
  display: flex;
  gap: 1rem;
  margin-bottom: 48px;
}

.swiper-slide {
  list-style: none;
  flex: 0 0 auto;
}

.popular-products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #080c09;
  margin-bottom: 24px;
}

.popular-products__nav {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.popular-products__btn {
  background: #f2f2f2;
  border: 1px solid #080c09;
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 20;
}

.popular-products__btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.popular-products__btn:hover,
.popular-products__btn:hover {
  background-color: #975052;
}

.popular-products__btn:active,
.popular-products__btn:active {
  background-color: #6b0609;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #080c09;
  opacity: 1;
}

.swiper-slide.product-card {
  width: 310px; /* точна ширина картки */
  flex-shrink: 0; /* не стискати картку */
}
