.is-close {
  opacity: 0;
  pointer-events: none;
}

.prod-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

/* hide scrollbars */
.prod-modal-window::-webkit-scrollbar {
  display: none;
}
.prod-modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  width: 90%;
  height: auto;
  padding: 64px 20px 44px;
  background-color: #fff;
  border-radius: 12px;
  gap: 16px;
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* images */
.image-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.image-cont img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.image-cont img:first-child {
  max-height: 308px;
}

.image-cont img:nth-child(2),
.image-cont img:nth-child(3) {
  width: calc(50% - 6px);
  max-height: 197px;
}

.prod-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.prod-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #080c09;
}

.prod-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.prod-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #080c09;
}

.stars {
  width: 96px;
  height: 15.2px;
  display: flex;
  margin: 16px 0;
}

.color-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.color-btns {
  display: flex;
  gap: 16px;
  margin: 8px 0 24px;
  justify-content: flex-start;
}

.color-btn {
  width: 32px;
  height: 32px;
  border-radius: 64px;
  appearance: none;
  cursor: pointer;
  flex-shrink: 0;
  object-fit: cover;
}
.color-btn:checked {
  border: 4px solid #838584;
}

.gray {
  background-color: #c7c3bb;
}
.white {
  background-color: #fff;
  border: 1px solid #ccc;
}
.black {
  background-color: #201a19;
}

.prod-descr,
.prod-size {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #202421;
  margin-bottom: 24px;
}

.modal-sub-btn {
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 44px;
  background-color: #6b0609;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition: opacity 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}
.modal-sub-btn:hover {
  opacity: 0.5;
}

.close-modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.close-icon {
  display: block;
  background-color: transparent;
}

/* === TABLET === */
@media screen and (min-width: 768px) {
  .prod-modal-window {
    width: 700px;
    padding: 64px 32px 32px;
    margin: 60px auto;
    gap: 24px;
    border-radius: 16px;
  }

  .image-cont {
    gap: 16px;
  }

  .image-cont img:nth-child(2),
  .image-cont img:nth-child(3) {
    width: calc(50% - 8px);
  }

  .prod-name {
    font-size: 32px;
  }

  .prod-price {
    font-size: 28px;
  }

  .prod-descr,
  .prod-size {
    font-size: 16px;
  }

  .modal-sub-btn {
    height: 46px;
  }

  .close-modal-btn {
    top: 16px;
    right: 16px;
  }
}

/* === DESKTOP  === */
@media screen and (min-width: 1440px) {
  .prod-modal-window {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1090px;
    height: 649px;
    margin: 64px auto;
    padding: 64px;
    gap: 24px;
  }

  .image-cont {
    width: 50%;
    gap: 16px;
  }

  .image-cont img:first-child {
    width: 100%;
    height: auto;
    max-height: 308px;
  }

  .image-cont img:nth-child(2),
  .image-cont img:nth-child(3) {
    width: calc(50% - 8px);
    height: auto;
  }

  .prod-info {
    width: 50%;
  }

  .prod-name {
    font-size: 40px;
  }

  .prod-price {
    font-size: 32px;
  }

  .prod-descr {
    width: 358px;
  }

  .modal-sub-btn {
    width: 310px;
  }
}
