/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./furniture-list.css');
@import url('./about-us.css');
@import url('./faq.css');
@import url('./feedback.css');
@import url('./product-modal.css');
@import url('./order-modal.css');
@import url('./footer.css');

